<h5>About</h5>

<p>
  A Regional Digital Twin (DT) for climate adaptation and green business
  development is been implemented in the Attica region in Greece, in the
  framework of the IMPETUS project. This platform is built on real time data of
  initiatives and solutions implemented and tested in Attica to create a central
  hub for knowledge and experience to be turned into action in a co-creation
  process with the interested parties and the policy makers.
</p>

<p>
  n principle, the DT presents the scope but also the operation of various
  climate adaptation innovations and pilot projects both created in IMPETUS and
  in other projects. The main idea is to provide appropriate, ideally real time
  data to support climate change adaptation efforts and improve the resilience
  of the Attica Region. The ultimate goal is to support strategic climate
  adaplation planning according to the impacts of extreme weather events and
  other climate change related factors, focusing on the identification of the
  most vulnerable areas of the Region.
</p>

<p>The basic elements of the DT platform include:</p>
<ul>
  <li>
    Descriptive element of the basic concept of the implemented solutions for
    the adaptation of the Attica Region to climate change
  </li>
  <li>
    Continuous presentation and updating of digital data of the applications and
    the solutions as an element of maturity and reliability
  </li>
  <li>Visualization of the real time presentation of the solutions</li>
  <li>
    Training and engagement of stakeholders and policy makers for the transfer
    of knowledge and adaptation of the implemented solutions to the specific
    needs of each particular area
  </li>
</ul>
