<mat-toolbar
  class="d-flex gap-5 p-4 justify-content-center justify-content-md-start">
  <span class="fs-6 fw-normal">
    © 2024 Urban Water Management and Hydro-Informatics Group
  </span>
  <!-- <span class="fs-6 fw-normal text-truncate">
    © 2024 URBAN WATER MANAGEMENT AND HYDRO-INFORMATICS GROUP
  </span>
  <span class="fs-6 fw-normal d-none d-md-block">
    <a
      class="text-decoration-none"
      href="https://uwmh.civil.ntua.gr/">
      uwmh.civil.ntua.gr
    </a>
  </span> -->
</mat-toolbar>
