<h5>Sewer Mining Technology</h5>
<p>
  The Athens Urban Tree Nursery comprises 4 hectares of vegetation, supplies all
  urban parks and green spaces of Athens with plant material, and uses potable
  water from Athens’s Water Supply and Sewerage Company (EYDAP) for irrigation.
  The city is seeking alternative water sources leveraging circular economy
  solutions to achieve environmental, social, and financial benefits for the
  town.
</p>
<p>
  Installing a sewer mining modular unit for urban green irrigation at the point
  of demand brought direct benefits for the sustainability of the new
  metropolitan park. Compost-based eco-engineered growing media products are
  also reused as an onsite fertilizer for a portfolio of autonomous,
  decentralized water, energy, and materials circular solutions for cities in
  water-scarce areas. Finally, thermal energy recovery schemes were investigated
  to minimize the pilot’s environmental footprint.
</p>
